/* Definição de variáveis para os temas */
:root {
  --bg-image: url(./white.png);
  --bg-color: #f33d06;
  --text-color: #ffffff;
  --container-bg: #4c1406ae;
  --container-border: rgba(255, 255, 255, 0.546);
  --box-bg: #f9f9f9;
  --quote-color: #555;
  --author-color: #ff3300;
  --btn-bg: #ff3300;
  --btn-hover: #451104;
}

.dark-mode {
  --bg-image: url(./black.jpg);
  --bg-color: #333;
  --text-color: #ffffff;
  --container-bg: #44444444;
  --box-bg: #555;
  --quote-color: #ddd;
  --author-color: #02162c;
  --btn-bg: #02162c;
  --btn-hover: #004080;
}

/* Estilos globais */
* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--bg-image) center center/cover no-repeat;
  background-color: var(--bg-color);
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.container {
  text-align: center;
  background-color: var(--container-bg);
  padding: 2rem;
  border-radius: 10px;
  border: solid 1px var(--container-border);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
}

h1 {
  color: var(--text-color);
  margin-bottom: 1.5rem;
  transition: color 0.3s ease;
}

.quote-box {
  margin: 2rem 0;
  padding: 1rem;
  background-color: var(--box-bg);
  transition: background-color 0.3s ease, color 0.3s ease;
}

#quote {
  font-size: 1.5rem;
  color: var(--quote-color);
  font-style: italic;
  transition: color 0.3s ease;
}

#author {
  font-size: 1.2rem;
  color: var(--author-color);
  margin-top: 1rem;
  font-weight: bold;
  transition: color 0.3s ease;
}

#generate-btn,
#theme-toggle {
  background-color: var(--btn-bg);
  color: #fff;
  border: none;
  padding: 0.8rem 2rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0.5rem;
}

#generate-btn:hover,
#theme-toggle:hover {
  background-color: var(--btn-hover);
}
